<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    <link rel="stylesheet" href="{%static 'css/myStyle.css'%}">
    <title>Estudiante - List</title>
</head>
<body>
    <h1>Curso de Coder - Python</h1>
    <ul>
        {% for estudiante in object_list %}
            <li>
                <p>Nombre: {{ estudiante.nombre }}</p>
                <p>
                   
                </p>
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-success" href="{% url 'New_Student' %}"> + Nuevo</a>
</body>
</html>