{% extends "padre.html" %}

{%load static%}

{% block contenidoQueCambia%}


    <div style="position: relative; top: 80px">
        <ul>
            <li>{{ user.username }}</li>
            <li>{{ user.email }}</li>
            <li>{{ user.first_name }}</li>
            <li>{{ user.last_name }}</li>
        </ul>
        <a class="btn btn-success" style="text-decoration: none; color: white" href="/AppCoder/profile/editarPerfil">Editar Perfil</a>
        <a class="btn btn-success" style="text-decoration: none; color: white" href="/AppCoder/profile/changeAvatar">cambiar imagen de perfil</a>
    </div>    


{% endblock %}
